html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}

/*a标签初始化*/
a {
  color: #409eff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/*-------------------------single CSS----------------------------*/
.dib {
  display: inline-block;
}

/* margin padding*/
.mt10 {
  margin-top: 1rem;
}
.mt20 {
  margin-top: 2rem;
}

.mr10 {
  margin-right: 1rem;
}
.mr20 {
  margin-right: 2rem;
}
.mr40 {
  margin-right: 4rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 1rem;
}
.ml20 {
  margin-left: 2rem;
}
/*......*/

.tc {
  text-align: center;
}

.f14 {
  font-size: 1.4rem;
}
.f16 {
  font-size: 1.6rem;
}
.f24 {
  font-size: 2.4rem;
}

.fstrong {
  font-weight: bold;
}

.l {
  float: left;
}
.r {
  float: right;
}

.rel {
  position: relative;
}

.cpoi {
  cursor: pointer;
}

.ovh {
  overflow: hidden;
}

.uline {
  text-decoration: underline;
  cursor: pointer;
}
